/**
 *   Prevent page width change when scroll is required.
 *   Helps reduce screen redraws.
 */
body.page-admin-people-permissions {
  overflow-y: scroll;
}

#user-admin-permissions.ctools-use-modal-processed .compact-link {
  display:none;
}

#user-admin-permissions .form-submit {
  margin: 1em;
}

.fpa-wrapper {
  display: table;
  width: 100%;
}

/**
 *   Override admin_menu's "Collapse module groups on the Permissions page".
 */
.fpa-wrapper .element-hidden {
  display: table-row;
}

.fpa-left-section {
  display: table-cell;
  background-color: #F6F6F6;
  border: 1px solid #D6DBDE;
  width: 1px; /* Keep column as small as possible. Table cells automatically push wider. */
}

.fpa-left-section .item-list ul {
  background-color: #EFEFEF;
  list-style: none;
  margin:0;
  padding: 0;
  text-align: left;
}

.fpa-left-section .item-list li {
  background-color: inherit;
  border-bottom: 1px solid #D6DBDE;
  cursor: pointer;
  font-size: 90%;
  line-height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.fpa-left-section .item-list li[fpa-module=""] {
  margin-right: -1px;
  background-color: white;
  border-right: solid 1px transparent;
}

.fpa-left-section .item-list li > div {
  display: table;
  width: 100%;
}

.fpa-left-section .item-list li a,
.fpa-left-section .item-list li .fpa-perm-total {
  display: table-cell;
  padding: 0.5em;
}

.fpa-left-section .item-list li .fpa-perm-total {
  min-width: 6em;
}

.fpa-left-section .item-list li a {
  text-decoration: none;
  color: inherit;
}

.fpa-left-section .item-list li .fpa-perm-total {
  text-align: right;
}

.fpa-right-section {
  background-color: white;
  display: table-cell;
  border: 1px solid #D6DBDE;
  border-left-width: 0;
}

.fpa-filter-form .form-item {
  display: inline-block;
  padding: 3px 10px;
  vertical-align: top;
}

.fpa-filter-form .clear-search {
  cursor: pointer;
  display: inline-block;
}

.fpa-right-section .fpa-table-wrapper {
  padding: 10px;
}

/**
 *   CTools attempts some styling to compact forms, looks bad with FPA.
 */
div.ctools-modal-content .fpa-wrapper .form-item label {
  float: none;
  width: auto;
}

/*
 * Rubik has some aggressive styling which makes FPA look poor, reset it here.
 */
.fpa-wrapper .block,
.fpa-wrapper .item-list,
.fpa-wrapper .help-items ul,
.fpa-wrapper .form-item,
.fpa-wrapper .confirmation ul,
.fpa-wrapper .admin-list,
.fpa-wrapper .node-type-list,
.fpa-wrapper .admin-panel {
  border-width: 0;
}

/**
 *   Styling for matching permissions counter.
 */
.fpa-left-section li[fpa-module] {
  counter-reset: fpa-module-permissions;
}

.fpa-perm-counter {
  display: inline;
  counter-increment: fpa-module-permissions;
}

.fpa-perm-total:before {
  content: counter(fpa-module-permissions);
}

.fpa-perm-total:after {
  content: " of " attr(fpa-total);
}

/*
 * Hide counter on "All modules" item.
 */
.fpa-left-section li.first .fpa-perm-total {
  /*display: none;*/
}

.fpa-system-name {
  display: none;
}

.fpa-show-system-name .fpa-system-name {
  display: table-cell;
}
